<div style="margin: 20px">
	<h2>Simple example</h2>
	<div id="file-angular-switchery-html" class="file">
			<div itemprop="text" class="blob-wrapper data type-html" ngNonBindable>
				<table class="highlight tab-size js-file-line-container" data-tab-size="8">
					<tbody>
						<tr>
							<td id="file-angular-switchery-html-L1" class="blob-num js-line-number" data-line-number="1"></td>
							<td id="file-angular-switchery-html-LC1" class="blob-code blob-code-inner js-file-line"> &lt;<span class="pl-ent">angular-switchery</span>&gt;&lt;/<span class="pl-ent">angular-switchery</span>&gt;</td>
						</tr>

					</tbody>
				</table>
			</div>


		</div>


	<angular-switchery></angular-switchery>
</div>


<div style="margin: 20px">
		<h2>Disabled</h2>
		<div id="file-angular-switchery-html" class="file">
				<div itemprop="text" class="blob-wrapper data type-html" ngNonBindable>
					<table class="highlight tab-size js-file-line-container" data-tab-size="8">
						<tbody>
							<tr>
									<td id="file-gistfile1-html-LC1" class="blob-code blob-code-inner js-file-line">&lt;<span class="pl-ent">angular-switchery</span> <span class="pl-e">disabled</span>=<span class="pl-s"><span class="pl-pds">"</span>disabled<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">angular-switchery</span>&gt;</td>
							</tr>

						</tbody>
					</table>
				</div>


			</div>


		<angular-switchery disabled="disabled"></angular-switchery>
</div>



<div style="margin: 20px">
	<h2>NgModel example</h2>

	<div id="file-angular-switchery-html" class="file">
		<div itemprop="text" class="blob-wrapper data type-html" ngNonBindable>
			<table class="highlight tab-size js-file-line-container" data-tab-size="8">
				<tbody>
					<tr>
						<td id="file-angular-switchery-html-L1" class="blob-num js-line-number" data-line-number="1"></td>
						<td id="file-angular-switchery-html-LC1" class="blob-code blob-code-inner js-file-line"> &lt;<span class="pl-ent">angular-switchery</span> [(<span class="pl-e">ngModel</span>)]=<span class="pl-s"><span class="pl-pds">"</span>swticherModel<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">angular-switchery</span>&gt;</td>
					</tr>
					<tr>
						<td id="file-angular-switchery-html-L2" class="blob-num js-line-number" data-line-number="2"></td>
						<td id="file-angular-switchery-html-LC2" class="blob-code blob-code-inner js-file-line"> &lt;<span class="pl-ent">angular-switchery</span> [(<span class="pl-e">ngModel</span>)]=<span class="pl-s"><span class="pl-pds">"</span>swticherModel<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">angular-switchery</span>&gt;</td>
					</tr>
					<tr>
						<td id="file-angular-switchery-html-L3" class="blob-num js-line-number" data-line-number="3"></td>
						<td id="file-angular-switchery-html-LC3" class="blob-code blob-code-inner js-file-line"> Switcher: {{swticherModel? 'ON' : 'OFF'}}</td>
					</tr>
				</tbody>
			</table>
		</div>


	</div>

	<angular-switchery [(ngModel)]="swticherModel"></angular-switchery>
	<angular-switchery [(ngModel)]="swticherModel"></angular-switchery>
	Switcher: {{swticherModel? 'ON' : 'OFF'}}
</div>


<div style="margin: 20px">
		<h2>Reactive approach</h2>
		<div id="file-angular-switchery-html" class="file" ngNonBindable>
				<div itemprop="text" class="blob-wrapper data type-html">
						<table class="highlight tab-size js-file-line-container" data-tab-size="8">
						<tbody><tr>
							<td id="file-angular-switchery-reactive-html-L1" class="blob-num js-line-number" data-line-number="1"></td>
							<td id="file-angular-switchery-reactive-html-LC1" class="blob-code blob-code-inner js-file-line">&lt;<span class="pl-ent">angular-switchery</span> #<span class="pl-e">f</span>=<span class="pl-s"><span class="pl-pds">"</span>ngForm<span class="pl-pds">"</span></span> [<span class="pl-e">formControl</span>]=<span class="pl-s"><span class="pl-pds">"</span>switcheryControl<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">angular-switchery</span>&gt;</td>
						</tr>
						<tr>
							<td id="file-angular-switchery-reactive-html-L2" class="blob-num js-line-number" data-line-number="2"></td>
							<td id="file-angular-switchery-reactive-html-LC2" class="blob-code blob-code-inner js-file-line">switcheryControl.value : {{f.value}}</td>
						</tr>
			</tbody></table>


				</div>


			</div>


			<angular-switchery #f="ngForm" [formControl]="switcheryControl"></angular-switchery>
			switcheryControl.value : {{f.value}}
</div>

